.sr-only{
    display: none !important;
}


.btn-link{
    span{
        display: none !important;
    }
    
}

.ngb-tp-input-container{
    display: none !important;
}

.custom-component{
    background-color: white !important;
}