
<h2 style="background: white;  text-align: center">We provide the following:</h2>

<div class="aboutUs">
    <ul>
        <li>
            Consult Top Doctors 24x7
        </li>
        <li>
            Connect instantly with a 24x7 specialist or choose to video visit a particular doctor.
        </li>
        <li>
            Convenient and Easy
        </li>
        <li>
            Start an instant consultation within 2 minutes or do video consultation at the scheduled time.
        </li>
        <li>
            100% Safe Consultations
        </li>
        <li>
            Be assured that your online consultation will be fully private and secured.
        </li>
        <li>
            Similar Clinic Experience
        </li>
        <li>
            Experience clinic-like consultation through a video call with the doctor. Video consultation is available only on the this app.
        </li>
    </ul>
</div>
