.faqs{

    background: white !important;
    margin: 5rem 0;
    padding: 2rem;
    .ques{
        font-size: 24px;
        font-weight: 700;
    }

    .ques{
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
    }
}